# Dependencies
node_modules
.pnpm-store

# Build output
dist
build
.output

# Environment files
.env
.env.local
.env.*.local

# IDE & OS
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
